
body {
  background-color: cornflowerblue;
}

.inner-wrap {
  padding: 0 10rem;
}

p, h1, h2, h3, figure, img {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
}




/* IMPORT COMPONENTS */
@import 'components/header.scss';
@import 'components/pays.scss';